<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Flashcards App</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}" >Collections</a></li>
                <li><a href="{{ url_for('create') }}">Create</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>